.logo {
    margin-bottom: 0.2rem;
    margin-left: -5rem;
    width: 15%;
}

.navheader {
    background-color: black;
}

.nav {
    font-size: 25px;
    color: white;
}

.nav:hover {
    color: rgb(83, 6, 6);
}