@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.bread {
    color: white; 
    text-decoration: none;
    padding: 0.2rem;
}

.bread:hover {
    text-decoration: underline;
}